*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{ 
  background-color: #363636; /* ash grey */
  color: white;
  padding: 20px 20px; 
}


.footerbottom p{
    margin:;
}
.socialicons {
    display: flex;
    justify-content: center;
  color: white;;
   
}
.socialicons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a :hover {
    background-color: white;
    transition: 0.5s;
}
.socialicons a :hover i{
    background-color: white;
    transition: 0.5s;
}

.socialicons a img {
    width: 30px;   /* adjust as needed */
    height: 30px;  /* maintain aspect ratio */
}

.footerbottom{
    
    padding: 20px;
    text-align: center; 
    border-radius: 1%;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400 ;
    margin: 0px 5px;
}

.Carousel slide {
  height: 60vh;
  min-height: 400px;
  max-height: 700px;
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-section {
  margin-top: 40px;
  padding: 20px 20px;
}

.about-section p {
  font-size: 1.2rem;      /* default for small screens */
  line-height: 1.8;  
   text-indent: 2em;     /* makes it easier to read */         /* if background is dark */
}


@media (min-width: 768px) {  /* medium screens */
  .about-section p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) { /* large screens */
  .about-section p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .about-nelson-image {
    margin-bottom: 20px; /* adds space below image on mobile */
  }
}

.about-title {
  font-family: 'Montserrat', sans-serif; /* clean modern sans-serif */
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #111;
}

.col-md-6 p {
  font-family: 'Merriweather', serif; /* paragraph serif */
  line-height: 1.7;
  color: #222;
  margin-bottom: 15px; /* spacing between paragraphs */
}

.row align-items-center {
  align-items: start; 
}
..gallery-section {
  margin-bottom: 40px; /* adjust number to your liking */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #111;
}